<section
  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Angular Notes</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <nav
    class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/signup" routerLinkActive="active-link"  href="#">Signup</a>
    <a class="p-2 text-dark" routerinLink="/login" routerLinkActive="active-link" href="#">Login</a>
  </nav>
</section>
